body {background-color:Gray;  

}
h1  {color: #fafafa;} h1 { 
  text-shadow: 4px 4px 5px rgb(89, 0, 255);
}
h1 {
  text-align: center;

}

h2  {color: rgb(255, 255, 255);} h2 { 
  text-shadow: 10px 10px 10px rgb(255, 0, 0);
}
p    {color: rgb(248, 241, 241);}
p    {color: white;
  text-shadow: 5px 5px 5px #2f0eeb;
}

img{
  margin: auto ;
  display: block;
  border-radius: 8px;
  width: 8%;
  height: 8%;
}
